nav
{
    background-color: cornflowerblue;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
   
    text-align: center;
    margin-top: 50px;
  }

  p
  {
      background-color: cornflowerblue;
      color:black;
      text-align: center;
      max-width: 350px;
      margin-bottom: auto;
      border-style: ridge;
     
  }
  
  .imgRound
  {
    border-radius: 50%;

  }
boja-slike{
  background-color:cornflowerblue;
}
h4{
  text-align: center;
  font-style: italic;
}