<div class="container">
    <div class="row mt-5">
        <div class="col">
            <form class="search-cars">
                <div class="row">
                    <div class="col mb-4">
                        <h2>Search Cars</h2>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-group">
                            <label>Pick-up location</label>
                            <input type="text" class="form-control" placeholder="Enter Pick-up location">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Drop-off location</label>
                            <input type="text" class="form-control" placeholder="Enter Drop-off location">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-group">
                            <label>Pick-up date</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Pick-up time</label>
                            <input type="time" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-group">
                            <label>Drop-off date</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Drop-off time</label>
                            <input type="time" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-group form-inline">                            
                            <label class="mr-3">Passengers</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-inline">                            
                            <label class="mr-3">Car Type</label>
                            <select class="custom-select">
                                <option value="Adult">SUV</option>
                                <option value="Child">Van</option>
                                <option value="Child">Sedan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary search-btn">Seach</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>