.company {
    margin: 0 0 50px 0;
    max-width: 400px;
}

.company-overview {
    box-shadow: 0 0 .6rem rgb(180, 179, 179);
    padding: 30px;
    margin: 20px 0;
}

.company-address {
    color: rgb(165, 165, 165);
    font-style: italic;
}

.search-form {
    padding: 30px;
    box-shadow: 0 0 .6rem rgb(180, 179, 179);
}
.card-company {
    width: 100% !important;
}
