<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li>
        <button type="button" class="btn btn-primary" routerLink="/app/listOfAircompanies">AvioCompanies</button>
      </li>
      <li>
        <button type="button" class="btn btn-primary" routerLink="/app/listOfRentACarcompanies">CarCompanies</button>
      </li>
      <li>
        <button type="button" class="btn btn-primary" routerLink="/app/reservedList">Reservations</button>
      </li>
      <li>
        <button type="button" class="btn btn-primary" routerLink="/app/listOfInvitations">Invitations</button>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li>
        <button type="button" class="btn btn-primary">Log out</button>
      </li>
      <li>
        <button type="button" class="btn btn-primary" routerLink="/app/profile">Profile</button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>