.auth {
    max-width: 500px;
    margin: 70px auto;
}

.auth h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

.auth-btn {
    width: 100%;
}

.auth .form-group {
    margin: 20px 0;
}

.auth p {
    text-align: center;
    margin: 20px 0 0 0;
}

.auth .alert-danger {
    margin: 10px 0;
}

.car {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    box-shadow: 0 0 .6rem rgb(180, 179, 179);
}

.car p {
    padding-top: 15px;
}