<div class="canvas-container">
    <canvas #canvas width="700px" height="700px">
    </canvas>
    <!--prvi red u avionu-->
    <button (click)="ClickedButton1()" id="button1"><b>1</b></button>
    <button (click)="ClickedButton2()" id="button2"><b>2</b></button>
    <button (click)="ClickedButton3()" id="button3"><b>3</b></button>
    <!--drugi red u avionu-->
    <button (click)="ClickedButton4()" id="button4"><b>4</b></button>
    <button (click)="ClickedButton5()" id="button5"><b>5</b></button>
    <button (click)="ClickedButton6()" id="button6"><b>6</b></button>
    <!--treci red u avionu-->
    <button (click)="ClickedButton7()" id="button7"><b>7</b></button>
    <button (click)="ClickedButton8()" id="button8"><b>8</b></button>
    <button (click)="ClickedButton9()" id="button9"><b>9</b></button>
    <!--cetvrti red u avionu-->
    <button (click)="ClickedButton10()" id="button10"><b>10</b></button>
    <button (click)="ClickedButton11()" id="button11"><b>11</b></button>
    <button (click)="ClickedButton12()" id="button12"><b>12</b></button>
    <!--peti red u avionu-->
    <button (click)="ClickedButton13()" id="button13"><b>13</b></button>
    <button (click)="ClickedButton14()" id="button14"><b>14</b></button>
    <button (click)="ClickedButton15()" id="button15"><b>15</b></button>
    </div>
