canvas{
    margin-left:20%;
    position: absolute;
    box-shadow: 0 0 .6rem rgb(180, 179, 179);
    background-color: skyblue;

}

canvas-container
{
    position: relative;
    width: 700px;
    height: 700px;
}

/*prvo sediste*/
#labela1
{
    position:absolute;
    left:655px;
    top:435px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button1
{
    position:absolute;
    left:655px;
    top:450px;
    width:45px;
    height: 45px;

}
/*drugo sediste*/
#labela2
{
    position:absolute;
    left:715px;
    top:435px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button2
{
    position:absolute;
    left:715px;
    top:450px;
    width:45px;
    height: 45px;

}
/*trece sediste*/
#labela3
{
    position:absolute;
    left:775px;
    top:435px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button3
{
    position:absolute;
    left:775px;
    top:450px;
    width:45px;
    height: 45px;

}
/*cetvrto sediste*/
#labela4
{
    position:absolute;
    left:655px;
    top:495px;
    width:3px;
    height: 3px;
    font-size: x-small;
}
#button4
{
    position:absolute;
    left:655px;
    top:510px;
    width:45px;
    height: 45px;

}
/*peto sediste*/
#labela5
{
    position:absolute;
    left:715px;
    top:495px;
    width:3px;
    height: 3px;
    font-size: x-small;
}
#button5
{
    position:absolute;
    left:715px;
    top:510px;
    width:45px;
    height: 45px;

}
/*sesto sediste*/
#labela6
{
    position:absolute;
    left:775px;
    top:495px;
    width:3px;
    height: 3px;
    font-size: x-small;
}
#button6
{
    position:absolute;
    left:775px;
    top:510px;
    width:45px;
    height: 45px;
}
/*sedmo sediste*/
#labela7
{
    position:absolute;
    left:655px;
    top:555px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button7
{
    position:absolute;
    left:655px;
    top:570px;
    width:45px;
    height: 45px;

}
/*osmo sediste*/
#labela8
{
    position:absolute;
    left:715px;
    top:555px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button8
{
    position:absolute;
    left:715px;
    top:570px;
    width:45px;
    height: 45px;

}
/*deveto sediste*/
#labela9
{
    position:absolute;
    left:775px;
    top:555px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button9
{
    position:absolute;
    left:775px;
    top:570px;
    width:45px;
    height: 45px;
}
/*deseto sediste*/
#labela10
{
    position:absolute;
    left:655px;
    top:615px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button10
{
    position:absolute;
    left:655px;
    top:630px;
    width:45px;
    height: 45px;

}
/*jedanaesto sediste*/
#labela11
{
    position:absolute;
    left:715px;
    top:615px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button11
{
    position:absolute;
    left:715px;
    top:630px;
    width:45px;
    height: 45px;

}
/*dvanaesto sediste*/
#labela12
{
    position:absolute;
    left:775px;
    top:615px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button12
{
    position:absolute;
    left:775px;
    top:630px;
    width:45px;
    height: 45px;
}
/*trinaesto sediste*/
#labela13
{
    position:absolute;
    left:655px;
    top:675px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button13
{
    position:absolute;
    left:655px;
    top:690px;
    width:45px;
    height: 45px;

}

/*cetrnaesto sediste*/
#labela14
{
    position:absolute;
    left:715px;
    top:675px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button14
{
    position:absolute;
    left:715px;
    top:690px;
    width:45px;
    height: 45px;

}
/*petnaesto sediste*/
#labela15
{
    position:absolute;
    left:775px;
    top:675px;
    width:5px;
    height: 5px;
    font-size: x-small;
}
#button15
{
    position:absolute;
    left:775px;
    top:690px;
    width:45px;
    height: 45px;
}



