<div class="row mt-5">
    <div class="col">
        <h2>Cars Availability</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Weekly</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Monthly</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Yearly</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row mb-5">
                <div class="col">

                        <div class="form-group" style="width: 400px;">
                            <label for="date-input">Choose Week</label>
                            <input [(ngModel)]="selectedWeek" type="week" class="form-control" id="date-input">
                        </div>
                        <div (click)="getWeeklyStats()" class="button" class="btn btn-secondary">See Stats</div>
                
                        <div *ngIf="barChartOptions" style="display: block;" class="mt-4">
                            <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                        </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="row mb-5">
                <div class="col">

                        <div class="form-group" style="width: 400px;">
                            <label for="date-input">Choose Month</label>
                            <input [(ngModel)]="selectedMonth" type="month" class="form-control" id="date-input">
                        </div>
                        <div (click)="getMonthlyStats()" class="button" class="btn btn-secondary">See Stats</div>
                
                        <div *ngIf="barChartOptions" style="display: block;" class="mt-4">
                            <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                        </div>
                </div>
            </div>

        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="row mb-5">
                <div class="col">

                        <div class="form-group" style="width: 400px;">
                            <label for="date-input">Choose Day</label>
                            <input [(ngModel)]="selectedDay" type="date" class="form-control" id="date-input">
                        </div>
                        <div (click)="getDailyStats()" class="button" class="btn btn-secondary">See Stats</div>
                
                        <div *ngIf="barChartOptions" style="display: block;" class="mt-4">
                            <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                        </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>




