<div class="auth">
    
    <div *ngIf="showErrorMessage" class="alert alert-danger" role="alert">
        User with the same email already exists!
    </div>
    <div *ngIf="showConfirmation" class="alert alert-success" role="alert">
        Confirmation link has been sent to your email!
    </div>
    <div class="register-form card p-5">
        <h1>Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input 
                type="text" 
                class="form-control" 
                id="firstName" 
                placeholder="First Name"
                required
                formControlName="firstName">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                <div *ngIf="firstName.errors.required">
                    First Name is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <input 
                type="text" 
                class="form-control" 
                id="lastName" 
                placeholder="Last Name"
                required
                formControlName="lastName">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                <div *ngIf="lastName.errors.required">
                    Last Name is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                placeholder="E-Mail"
                required
                email
                formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors.required">
                    Email is required.
                </div>
                <div *ngIf="email.errors.email">
                    Invalid Email.
                </div>
            </div>
          </div>
        <div class="form-group">
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                placeholder="Password"
                required
                minlength="6"
                formControlName="password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <div *ngIf="password.errors.required">
                    Password is required.
                </div>
                <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters long.
                </div>
            </div>
        </div>
        <div class="form-group">
            <input 
                type="password" 
                class="form-control" 
                id="confirmPassword" 
                placeholder="Confirm Password"
                required
                formControlName="confirmPassword">
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
                <div *ngIf="confirmPassword.errors.required">
                    Confirmed Password is required.
                </div>
                <div *ngIf="confirmPassword.errors.mustMatch">
                    Passwords must match.
                </div>
            </div>
        </div>
        <div class="form-group">
            <input 
                type="text" 
                class="form-control" 
                id="city" 
                placeholder="City"
                required
                formControlName="city">
            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
                <div *ngIf="city.errors.required">
                    City is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <input 
                type="tel" 
                class="form-control" 
                id="phone" 
                placeholder="Phone"
                required
                formControlName="phone">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                <div *ngIf="phone.errors.required">
                    Phone is required.
                </div>
            </div>
        </div>
        <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary btn-lg auth-btn">Register</button>
        <p>Already have account? <a routerLink="/login">Login</a></p>
      </form>
    </div>
</div>