<div class="row">
    <table class="table">
      <thead>
        <tr>
           <th scope="col">Your invitations:</th>
        </tr>
    </thead>
      <tbody>
         <tr>
           <td>Jovan Jovanovic sent you an invitation for flight to Palo Alto!</td>
           <td><button type="button" class="btn btn-primary">Accept</button></td>
           <td><button type="button" class="btn btn-primary">Decline</button></td>
         </tr>
         <tr>
          <td>Marko Markovic sent you an invitation for flight to London!</td>
          <td><button type="button" class="btn btn-primary">Accept</button></td>
          <td><button type="button" class="btn btn-primary">Decline</button></td>
        </tr>
      </tbody>
    </table>
</div>

