<body>
    <form [formGroup]="editForm" (ngSubmit)="onEdit()">
        <div class="form-group">
         <label for="userFirstName">First name:</label>
         <input type="text" 
         class="form-text"
          id="textEditForFirstName" 
          formControlName="textEditForFirstName"/>
        </div>
        <div class="form-group">
            <label for="userSecondName">Last name:</label>
            <input type="text"
             class="form-text" 
             id="textEditForSecondName" 
             formControlName="textEditForSecondName"/>
        </div>
        <div *ngIf="(authenticationService.currentUserValue.role=='AirlineAdmin') || (authenticationService.currentUserValue.role=='RentacarAdmin')" class="form-group">
          <label for="userNewPassword">New password</label>
            <input type="password" 
            class="form-control" 
            id="forNewPassword"
            placeholder="Password"
            formControlName="forNewPassword">
        </div>
        <div  *ngIf="(authenticationService.currentUserValue.role=='AirlineAdmin') || (authenticationService.currentUserValue.role=='RentacarAdmin')"class="form-group">
          <label for="userNewPassword">Confirm new password</label>
          <input type="password"
           class="form-control" 
           id="forConfirmNewPassword" 
           placeholder="Password"
           formControlName="forConfirmNewPassowrd">
        </div>
        <div class="form-group">
          <label for="userCity">City:</label>
          <input type="text"
           class="form-text"
            id="textForCity" 
            formControlName="textForCity"/>
        </div>
        <div class="form-group">
          <label for="userPhone">Phone:</label>
          <input type="tel" 
          class="form-text"
           id="textForPhone"
           formControlName="textForPhone"/>
        </div> 
        <div>
         <button type="submit">Edit</button>
        </div>
    </form>
    <br/>
    <br/>
    </body>