
input
{
    border-radius: 10%;
    border-color: lightseagreen; 
    width: 400px;  
    
   
}
button
{
    border-radius: 10%;
    background-color: lightseagreen;
    width: 100px;
}

form{
    margin-left: 200px;
    margin-right: 200px;
}