<div class="row mt-5 mb-5">
    <div class="col">
        <h3>Reservations</h3>
    </div>
</div>


<ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Car Reservations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Flight Reservations</a>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

        
        <div *ngIf="currentReservations.length > 0" class="row mt-5 mb-3">
            <div class="col">
                <h4>Current Reservations</h4>
                <table class="table mt-4">
                    <thead class="thead">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Car</th>
                        <th scope="col">User</th>
                        <th scope="col">Pickup date</th>
                        <th scope="col">Dropoff date</th>
                        <th scope="col">Days</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let reservation of currentReservations; let i=index">
                        <th>{{ i+1 }}</th>
                        <td><a [routerLink]="'/car/'+reservation.car.id">{{ reservation.car.brand + " " + reservation.car.model}}</a></td>
                        <td>{{ reservation.user.firstName + " " + reservation.user.lastName }}</td>
                        <td>{{ reservation.pickupDate }}</td>
                        <td>{{ reservation.dropoffDate }}</td>
                        <td>{{ reservation.days }}</td>
                        <td>{{ reservation.totalPrice }}</td>
                        <td>{{ reservation.status }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="finishedReservations.length > 0" class="row mt-5">
            <div class="col">
                <h4>Finished Reservations</h4>
                <table class="table mt-4">
                    <thead class="thead">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Car</th>
                        <th scope="col">User</th>
                        <th scope="col">Pickup date</th>
                        <th scope="col">Dropoff date</th>
                        <th scope="col">Days</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let reservation of finishedReservations; let i=index">
                        <th>{{ i+1 }}</th>
                        <td><a [routerLink]="'/car/'+reservation.car.id">{{ reservation.car.brand + " " + reservation.car.model}}</a></td>
                        <td>{{ reservation.user.firstName + " " + reservation.user.lastName }}</td>
                        <td>{{ reservation.pickupDate }}</td>
                        <td>{{ reservation.dropoffDate }}</td>
                        <td>{{ reservation.days }}</td>
                        <td>{{ reservation.totalPrice }}</td>
                        <td>{{ reservation.status }}</td>
                        <td><a [routerLink]="'/reservations/rentacar/'+reservation.id+'/grade'" class="btn btn-success">Grade</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <h5>*Your reservation cannot be canceled until 3 days have passed from date of its creation</h5>
        <div *ngIf="reservations.length > 0" class="row mt-5 mb-3">
            <div class="col">
                <h4>Current Flight Reservations</h4>
                <table class="table mt-4">
                    <thead class="thead">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Date of reservation:</th>
                        <th scope="col">Name of user:</th>
                        <th scope="col">Location:</th>
                        <th scope="col">Date and time of taking off:</th>
                        <th scope="col">Date and time of landing:</th>
                        <th scope="col">Reserved seat</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let reservation of reservations; let i=index">
                        <th>{{ i+1 }}</th>
                        <td>{{reservation.dateOfReservation}}</td>
                        <td>{{ reservation.firstNameOfPersonWhoSits + " " + reservation.secondNameOfPersonWhoSits }}</td>
                        <td>{{ reservation.flightOfReservation.locationFrom+"----->"+reservation.flightOfReservation.locationTo }}</td>
                        <td>{{ reservation.flightOfReservation.dateOfTakingOff+" ----- "+reservation.flightOfReservation.timeOfTakingOff+" h"}}</td>
                        <td>{{ reservation.flightOfReservation.dateOfLanding+" ----- "+reservation.flightOfReservation.timeOfLanding+" h"}}</td>
                        <td>{{ reservation.seatOfReservation }}</td>
                        <td>{{ reservation.priceOfReservation }}</td>
                        <td>  <button type="button" id="button3" class="btn-danger" (click)="OnDeleteReservation(reservation.id)">Cancel reservation</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>