<nav class="navbar navbar-expand-lg navbar-dark bg-dark pl-5 pr-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul style="width: 1120px; margin: 0 auto;" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link mr-3" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-plane-departure mr-2"></i>Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" routerLink="/car-rental" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-car mr-2"></i>Car Rental</a>
            </li>
            <li *ngIf="authService.currentUserValue && authService.currentUserValue.role != 'Admin'" class="nav-item">
                <a class="nav-link mr-3" routerLink="/app" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-user mr-2"></i>Profile</a>
            </li>
            <li *ngIf="authService.currentUserValue && authService.currentUserValue.role == 'Admin'" class="nav-item">
                <a class="nav-link mr-3" routerLink="/admin/staff" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-users mr-2"></i>Staff</a>
            </li>
            <li *ngIf="authService.currentUserValue && (authService.currentUserValue.role == 'AirlineAdmin' || authService.currentUserValue.role == 'RentacarAdmin' )" class="nav-item">
                <a class="nav-link mr-3" routerLink="/rentalcompany" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-briefcase mr-2"></i>My Company</a>
            </li>
            <li *ngIf="authService.currentUserValue && authService.currentUserValue.role == 'Admin'" class="nav-item">
                <a class="nav-link mr-3" routerLink="/admin/airline" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-plane-arrival mr-2"></i>Airline Service</a>
            </li>
            <li *ngIf="authService.currentUserValue && authService.currentUserValue.role == 'Admin'" class="nav-item">
                <a class="nav-link mr-3" routerLink="/admin/rentacar" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-truck-pickup mr-2"></i>Car Rental Services</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li *ngIf="authService.currentUserValue" class="nav-item mr-3" (click)="logout()">
                <a style="cursor: pointer; color: #fff;" class="nav-link ml-auto btn btn-danger">Logout</a>
            </li>
            <li *ngIf="!authService.currentUserValue" class="nav-item">
                <a style="color:#fff;" class="nav-link btn btn-outline-primary" routerLink="/register">Register</a>
            </li>
            <li *ngIf="!authService.currentUserValue" class="nav-item">
                <a style="color:#fff;" class="nav-link btn btn-primary ml-3" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Login</a>
            </li>
        </ul>
    </div>
  </nav>
<div class="container mt-5">
    <router-outlet></router-outlet> 
</div>



  
 
  