<nav *ngIf="companyExists" class="nav nav-pills nav-justified">
    <a class="nav-link" routerLink="/rentalcompany/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-id-card mr-2"></i>Company Profile</a>
    <a class="nav-link ml-3 mr-3" routerLink="/rentalcompany/branches" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-store-alt mr-2"></i>Branches</a>
    <a class="nav-link" routerLink="/rentalcompany/cars" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fas fa-car mr-2"></i>Cars</a>
</nav>
<div *ngIf="!companyExists">
    <h2>Company not yet set!</h2>
</div>
<router-outlet></router-outlet>
