<div class="card p-4">
    <h5>Sediste <b>{{seatFlight}}</b></h5>
    <div *ngIf="seatCreated">
        <p>This seat is already created!</p>
    </div>
    <div *ngIf="!seatCreated">
        <p>This seat isn't created yet!</p>
    </div>
    <div *ngIf="status">
      <p>Status: AVAILABLE </p>
  </div>
  <div *ngIf="!status">
      <p>Status: NOT AVAILABLE</p>
  </div>
    <h5>What do you want to do?</h5>
    <button type="button" id="button1" class="btn btn-success" (click)="createSeat()">Create seat</button><br>
    <button type="button" id="button2" class="btn btn-primary" data-toggle="modal" data-target="#editSeatModal"><i class="fas fa-edit"></i>Edit seat</button><br>
    <button type="button" id="button3" class="btn-danger" (click)="deleteSeat()"><i class="fas fa-trash-alt mr-2"></i>Delete seat</button><br>
</div>
<!--poruke za kreiranje sedista-->
<div *ngIf="seatNijeDodat" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>
<div *ngIf="seatDodat" class="alert alert-success" role="alert">
 Seat created successfully!
</div>
<!--poruke za brisanje sedista-->
<div *ngIf="seatObrisan" class="alert alert-success" role="alert">
 Seat deleted successfully!
</div>
<div *ngIf="seatNijeObrisan" class="alert alert-danger" role="alert">
  {{ deleteErrorMessage }}
</div>


<div class="modal fade" id="editSeatModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit seat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--poruke za editovanje sedista-->
          <div *ngIf="seatEditovan" class="alert alert-success" role="alert">
            Seat edited successfully!
          </div>
          <div *ngIf="seatNijeEditovan" class="alert alert-danger" role="alert">
           {{ editErrorMessage }}
          </div>
            <label>Make this seat:</label>
              <div  class="form-check">
                <input class="form-check-input" type="checkbox"  id="UnAvailableCheck"  (click)="CheckedClickedForNonExistance()">
                <label class="form-check-label">
                  Unvailable
                </label>
              </div>
              <div  class="form-check">
                <input class="form-check-input" type="checkbox"  id="AvailableCheck"  (click)="CheckedClickedForExistance()">
                <label class="form-check-label">
                  Available
                </label>
              </div>
              <button  class="btn btn-primary" (click)="editSeat()">Save</button>
              <button data-dismiss="modal" aria-label="Close" type="button" class="ml-3 btn btn-danger" >Close</button>
              
        </div>
    </div>
</div>
</div>
