<div class="card p-4">
    <h5>Sediste <b>{{seatFlight}}</b></h5>
    <div *ngIf="seatAvailable">
        <p>This seat is available!</p>
    </div>
    <div *ngIf="!seatAvailable">
        <p>This seat isn't available yet!</p>
    </div>
    <h5>What do you want to do?</h5>
    <button type="button" id="button1" class="btn btn-success" (click)="createSeat()">Make seat available</button><br>
    <button type="button" id="button2" class="btn btn-primary" data-toggle="modal" data-target="#editSeatModal"><i class="fas fa-edit"></i>Edit seat</button><br>
    <button type="button" id="button3" class="btn-danger" (click)="deleteSeat()"><i class="fas fa-trash-alt mr-2"></i>Delete seat</button><br>
</div>
<div *ngIf="seatNijeDodat" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>
<div *ngIf="seatObrisan" class="alert alert-success" role="alert">
 Seat deleted successfully!
</div>
<div *ngIf="seatNijeObrisan" class="alert alert-danger" role="alert">
  {{ deleteErrorMessage }}
</div>
<div *ngIf="seatDodat" class="alert alert-success" role="alert">
 Seat created successfully!
</div>
<div class="modal fade" id="editSeatModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit seat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         
            <label>Make this seat:</label>
              <div  class="form-check">
                <input class="form-check-input" type="checkbox"  id="UnAvailableCheck">
                <label class="form-check-label">
                  Nonexistent
                </label>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Save</button>
              <button data-dismiss="modal" aria-label="Close" type="button" class="ml-3 btn btn-danger">Close</button>
              
        </div>
    </div>
</div>
</div>
