canvas{
    margin-left:20%;
    position: absolute;
    box-shadow: 0 0 .6rem rgb(180, 179, 179);
    background-color: skyblue;

}

canvas-container
{
    position: relative;
    width: 700px;
    height: 700px;
}
#button1
{
    position:absolute;
    left:655px;
    top:450px;
    width:45px;
    height: 45px;

}
#button2
{
    position:absolute;
    left:715px;
    top:450px;
    width:45px;
    height: 45px;

}
#button3
{
    position:absolute;
    left:775px;
    top:450px;
    width:45px;
    height: 45px;

}


#button4
{
    position:absolute;
    left:655px;
    top:510px;
    width:45px;
    height: 45px;

}
#button5
{
    position:absolute;
    left:715px;
    top:510px;
    width:45px;
    height: 45px;

}
#button6
{
    position:absolute;
    left:775px;
    top:510px;
    width:45px;
    height: 45px;

}


#button7
{
    position:absolute;
    left:655px;
    top:565px;
    width:45px;
    height: 45px;

}
#button8
{
    position:absolute;
    left:715px;
    top:565px;
    width:45px;
    height: 45px;

}
#button9
{
    position:absolute;
    left:775px;
    top:565px;
    width:45px;
    height: 45px;
}



#button10
{
    position:absolute;
    left:655px;
    top:620px;
    width:45px;
    height: 45px;

}
#button11
{
    position:absolute;
    left:715px;
    top:620px;
    width:45px;
    height: 45px;

}
#button12
{
    position:absolute;
    left:775px;
    top:620px;
    width:45px;
    height: 45px;
}



#button13
{
    position:absolute;
    left:655px;
    top:675px;
    width:45px;
    height: 45px;

}
#button14
{
    position:absolute;
    left:715px;
    top:675px;
    width:45px;
    height: 45px;

}
#button15
{
    position:absolute;
    left:775px;
    top:675px;
    width:45px;
    height: 45px;
}



