<div class="canvas-container">
<canvas #canvas width="700px" height="700px">
</canvas>
<!--prvi red u avionu-->
<button id="button1"><b>1</b></button>
<button id="button2"><b>2</b></button>
<button id="button3"><b>3</b></button>
<!--drugi red u avionu-->
<button id="button4"><b>4</b></button>
<button id="button5"><b>5</b></button>
<button id="button6"><b>6</b></button>
<!--treci red u avionu-->
<button id="button7"><b>7</b></button>
<button id="button8"><b>8</b></button>
<button id="button9"><b>9</b></button>
<!--cetvrti red u avionu-->
<button id="button10"><b>10</b></button>
<button id="button11"><b>11</b></button>
<button id="button12"><b>12</b></button>
<!--peti red u avionu-->
<button id="button13"><b>13</b></button>
<button id="button14"><b>14</b></button>
<button id="button15"><b>15</b></button>
<!--sesti red u avionu-->
<button id="button16"><b>16</b></button>
<button id="button17"><b>17</b></button>
<button id="button18"><b>18</b></button>

</div>