table{
    width:300px;
    margin-left: 30px;
    
}
select{
    
    margin-left: 30px;
}
label{
    margin-left: 30px;
}
p
{
    margin-left: 30px;
    background-color: lightsteelblue;
}
button{
    margin-left: 30px;
}